

{% extends 'core/base.html'%}

{% block title %}Nosotros{% endblock %}
{% load static %}

    {% block content %}
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-2"></div>
          <div class="col-md-8" >
            <div class="card text-center border-warning mb-3" style="max-height: 18rem;">
              <div class="card-body">
                <h4 class="card-title">Sobre Duoc</h4>
              </div>
            </div>
          </div>
        <div class="col-md-2"></div>
      </div> 
    </div>
      
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-2"></div>
          <div class="col-md-8" >
            <div>
              <p class="somos">Formamos personas, en el ámbito técnico y profesional, con una sólida base ética inspirada en los valores cristianos, capaces de aportar en forma significativa al mundo laboral y comprometidas con el desarrollo de la sociedad.</p>
            </div>
          </div>
        <div class="col-md-2"></div>
      </div>
    </div>

        
    <div class="container">    
      <div class="row align-items-center">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="card">
            <img class="cact" src="{% static 'core/img/Inform.jpeg'%}" alt="">
            <div>
              <p class="comment">Escuela de Informática</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="cact" src="{% static 'core/img/Apis.png'%}" alt="">
            <div>
              <p class="comment">Integración de Sistemas</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="container">
      <div class="row g-2">
        <div class="col-3"></div>
        <div class="col-6">
          <h3 id="ubi">Mesa de Servicios</h3>
          <p class="address">(+56) 44220 1098 / (+56) 227120245</p>
          <div id="map" class="map"></div>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
    {% endblock %}


   

        


    

    



    


    
