
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    border: 0;
    background-image: url("../img/mio.jpg");
    
}

#vive{
    color:navy;
    font-size: 55px;
    font-family:'Times New Roman';
}

#ins{
    color:black;
    font-size: 30px;
    font-family:'Times New Roman';
}

footer{
    padding: 4rem;
    text-align: center;
    display: inline;
    align-items: center;
}

.nav-item{
    font-size: 25px;
    display: inline;
    padding-left:100px;
    padding-right:10px;
}

nav a:hover {
    background-color:lightgreen;
    border-radius: 1rem;
}

.tamanologo{ width: 25rem ;
    margin: 0%;
}

#textindex{
    color:navy;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 0%;

}
.font{
    font-family: 'Crete Round', serif;
    text-align: right;
    align-items: center;
    padding-left:10px;
    padding-top: 0px;
    padding-bottom:100px;
}


.card-img-top{
    transition: transform .2s;
}

.card-img-top:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 

}



.registro{
    margin: 4em;
    margin-top: auto;
    padding-top: 0%;
}


.nosotros {
    text-align:center;
    font-family:sans-serif;
}

.somos{
    color:navy;
    font-size: 30px;
    text-align:justify;
}

.cact{
    float:right;
    margin: auto;
    width: 300px;
    height: 250px;
    border: 5px solid white;
    transition: transform .2s;
}

.cact:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}

.address{
    color:darkgreen;
    font-size: 20px;
    text-align:center;
}

.letra_link{
    color:white;
    text-decoration: none;
}

.weather {
    width: 250px;
    background-color: lightblue;
    margin: 05px auto;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    height: 90px;
    font-family:'Franklin Gothic Medium';
    margin-top: 70px;
    margin-bottom: 05px;
}


h1,h2,h3,h4,h5,h6{
	color:navy;
    font-size: xx-large;
}
